{{>cmdsetheader}}
<main class="set">
<form>
<div class="row">
  <div class="col-25"> Actual State</div>
  <div class="col-75">{{cfg.mode}}</div> 
</div>
<div class="row">
  <div class="col-25">Set to </div>
  <div class="col-75">
    <select class="form-control" id="setmode">
      <option value='fake'>fake: present a dummy picture</option>
      <option value='dslr'>dslr: Use a real camera </option>
      <option value='rasp'>rasp: Use a Raspberrypi Cam</option>
      <option value='webc'>webc: Use a webcam</option>
    </select>
  </div>
</div>
</form>
</main>



{{>cmdsetfooter}}