{{>cmdsetheader}}
<main class="set">
<div class="row"></div>
  <div class="col-sm-6">
    <h3>Configuration:</h3>
      <ul>
        <li>MODE  : {{#if cfg.mode}} ({{cfg.mode}}) {{/if}} </li>
        <li>SSID  : {{#if ssid}} ({{ssid}}) {{/if}} </li>
        <li>  IP  : <span id="ip">Unknow</span> </li> 
        <li>BUILD : <span id="build">Unknow</span> </li>  
        <li>ID    : {{cfg.cmd.token}}  
        <li>PICT  : <span id="pcount">Unknow</span> </li>   
      </ul>
  </div>
</div>
<div class="row">
  <h3>Change State</h3>
  <div class="col-sm-6">
    <form>
      <select class="form-control" id="setmode">
        <option value='fake'>fake: present a dummy picture</option>
        <option value='dslr'>dslr: Use a real camera </option>
        <option value='rasp'>rasp: Use a Raspberrypi Cam</option>
        <option value='webc'>webc: Use a webcam</option>
      </select>
    </form>
  </div>
</div>
</main>

{{>cmdsetfooter}}