{{>cmdsetheader}}
<main class="set">
<pre>
Mode : {{cfg.mode}}
</pre>
<form>
    <div class="form-group">
    <label for="setmode">Mode</label>
    <select class="form-control" id="setmode">
      <option>fake</option>
      <option>dslr</option>
      <option>rasp</option>
      <option>webc</option>
    </select>
  </div>
</form>
</main>

{{>cmdsetfooter}}