<style>
  .infos {
    margin-top: 60px;
  }
</style>  

<div class="infos container">
<section>    
<h2>Informations</h2>
<h3>Pictures</h3>
<p>count: {{count}}</p>
</section>
<section>
<h3>Configuration</h3>
{{config}}
</section>
</div>