<header>
  <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container-fluid d-flex justify-content-between">
      <a href="/booth" class="navbar-brand d-flex align-items-center">
        <img src="/img/pikbooth.png" class="piklogo" > {{#if cfg.mode}} &nbsp;({{cfg.mode}}) {{/if}} 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p ><img src="/img/pikbooth.png"> 
          <p>A photobooth controller running on RaspberryPi</p>
          <p>Pictures can be take through DSLR, piCam and usb webCam</p>
          <p>Made by Unclephil</p>
        </div>
        <div class="col-sm-6">
          <p > Configuration:
            <ul>
              <li>MODE : {{#if cfg.mode}} ({{cfg.mode}}) {{/if}} </li>
              <li>SSID : {{#if ssid}} ({{ssid}}) {{/if}} </li>
              <li>  IP : {{#if ipaddr}} ({{ipaddr}}) {{/if}} </li>   
          </ul>
          </p>
       </div>
      </div>
    </div>
  </div>
</header>
