<header>
  <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container-fluid d-flex justify-content-between">
      <a href="/booth" class="navbar-brand d-flex align-items-center">
        <img src="/img/pikbooth.png" class="piklogo" > {{#if cfg.mode}} &nbsp;({{cfg.mode}}) {{/if}} 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  {{>boothinfos}}

</header>
