<header>
  <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
    <div class="container-fluid d-flex justify-content-between">
      <a href="/booth" class="navbar-brand d-flex align-items-center">
        <img src="/img/pikbooth.png" height=40px > {{#if cfg.mode}} &nbsp;({{cfg.mode}}) {{/if}} 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <p class="text-muted"><strong>PiKBooth</strong> is a photobooth application running on a fleet of RaspberryPi and managed through Balena.io interface</p>
          <p class="text-muted">Pictures can be take through DSLR, piCam and usb webCam</p>
          <p class="text-muted">Actual   IP is: {{#if ipaddr}} ({{ipaddr}}) {{/if}} </p>
          <p class="text-muted">Actual SSID is: {{#if ssid}} ({{ssid}}) {{/if}} </p>
          <p class="text-muted">Actual MODE is: {{#if cfg.mode}} ({{cfg.mode}}) {{/if}} </p>
          <p class="text-muted">With <3 by Unclephil </p>
       </div>
      </div>
    </div>
  </div>
</header>
