<footer>
<div class="container-fluid text-center">
<button class="btn btn-danger btn-lg active"  aria-pressed="true" onclick="fire()">Direct picture</button>
<button class="btn btn-primary btn-lg active"  aria-pressed="true" onclick="cmdfire()">Booth picture</button>
</div>
</footer>